body {
  background-color: #111;
  color: #0f0;
  font-family: 'Courier New', monospace;
  text-align: center;
  padding: 20px;
}
input, button {
  margin: 10px;
  padding: 10px;
  background: #222;
  color: mintcream;
  border: none;
}
